fastapi
uvicorn[standard]
python-multipart
pydantic

ultralytics
opencv-python
numpy
pillow
matplotlib

faster-whisper
sounddevice
soundfile

requests
httpx

python-dotenv
PyYAML
tqdm

huggingface-hub
yolov5